name: testando pipeline
run-name: ${{ github.actor }}
on:
  push:
    branches:
      - master

jobs:
  primeiro:
    runs-on: ubuntu-latest
    steps:
      - name: checkout do repositório
        uses: actions/checkout@v4

      - name: configurar o ambiente
        run: echo "configurando o ambiente"

      - name: testar comandos
        run: echo "testando comandos"
  segundo:
    runs-on: ubuntu-latest
    needs: [primeiro]
    steps:
      - name: checkout do repositório
        uses: actions/checkout@v4

      - name: configurar o ambiente
        run: echo "configurando o ambiente"

      - name: testar comandos
        run: echo "testando comandos"